* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(0deg, #b8ff2e, #2ea8ff);
    background-attachment: fixed;
}

.container {
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
}